body {
  background-color: rgb(62, 77, 110);
	text-align: center;  /* Center-aligns text elements in the body */
}

body * {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

.page {
	width: 1350px;
	margin: auto;
  margin-top: 50px;
	padding: 20px;
	text-align: left;  /* This ensures that the internal content of .page is left-aligned */
  background-color: rgb(240, 240, 240);
  box-shadow: 10px 10px 20px rgb(33, 42, 61), -10px -10px 20px rgb(33, 42, 61);
}

footer {
  color: whitesmoke;
  display: block;
  padding: 50px;
}

a {
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
  color: lightblue;
}

b{
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
}

p {
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
  line-height: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
	font-weight: 900;
	text-align: center;  /* Center align the h1 */
	margin-top: 50px;
}

h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 28px;
  font-weight: 600;
  text-align: center; 
  margin-top: 25px;
  padding: 20px;
  background-color: rgb(214, 214, 214);
}

h3 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;  /* Center align the h1 */
}

#title-description {
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  line-height: 25px;
  margin-bottom: 25px;
  padding: 20px;
  text-align: center;
}

.vis-container {
  width: 100%;
  text-align: center;  /* Center align content within the container */
  padding-left: 38px;
}

.flex-container {
  display: flex;
  justify-content: space-evenly; /* Center aligns flex items on the main axis */
  flex-wrap: wrap; /* Allows for wrapping if necessary */
}

.donut-flex-container {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
  padding: 20px;
  margin-left: 50px;
}

.donut-column {
  margin: 10px;
}

.idiom {
  flex: 1;
  padding: 15px;
  margin: auto;
}

.description {
  flex: 1; 
  padding: 15px;
  margin: auto;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#bmi-table {
  border-collapse: collapse;
}

#bmi-head {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
  background-color: rgb(62, 77, 110);
  color: whitesmoke;
  font-size: small;
}

#bmi-body {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
  background-color: whitesmoke;
  font-size: small;
}

/* Style for legend container */
.legend {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style for each legend item */
.legend-item {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Adjust the spacing between legend items */
}

/* Style for the colored square */
.legend-color {
  display: inline-block;
  width: 10px; /* Adjust the size of the square */
  height: 10px; /* Adjust the size of the square */
  margin-right: 5px; /* Adjust the spacing between square and text */
}

/* Style for the legend text */
.legend-text {
  font-size: 14px; /* Adjust the font size */
  font-weight: bold; /* Optional: Adjust the font weight */
  font-family: Arial, Helvetica, sans-serif;
}

