body * {
	font-family: 'Open Sans', sans-serif;
  }
  
  h1 {
	font-weight: 900;
	text-align: center;  /* Center align the h1 */
  }
  
  body {
	text-align: center;  /* Center-aligns text elements in the body */
  }
  
  .page {
	width: 850px;
	background-color: white;
	margin: auto;
	padding: 50px;
	padding-top: 35px;
	text-align: left;  /* This ensures that the internal content of .page is left-aligned */
  }
  
  .vis-container {
	width: 100%;
	text-align: center;  /* Center align content within the container */
  }
  
  .description h2, h1 {
	margin-top: 0px;
  }
  
  .description-right {
	padding-left: 20px;
  }
  
  .description-left {
	padding-right: 20px;
  }
  
  .pure-g {
	margin-bottom: 40px;
	justify-content: center; /* Center aligns flex items on the main axis */
	display: flex; /* Ensures it's a flex container */
	flex-wrap: wrap; /* Allows for wrapping if necessary */
  	margin: 0 auto;
  }

  .section {
    margin-bottom: 3em; /* Adjust as needed for desired spacing */
  }
  
  .small-font {
	font-size: 14px;
  }

  #choropleth_map {
	margin-top: 100px;
}

#bubble_plot_interactive {
	margin-top: 100px;
}

/* Updated CSS for flexbox layout */
.chart-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.chart {
	flex: 1;
	margin: 10px;
}

/* Style for legend container */
.legend {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  /* Style for each legend item */
  .legend-item {
	display: flex;
	align-items: center;
	margin-right: 20px; /* Adjust the spacing between legend items */
  }
  
  /* Style for the colored square */
  .legend-color {
	display: inline-block;
	width: 10px; /* Adjust the size of the square */
	height: 10px; /* Adjust the size of the square */
	margin-right: 5px; /* Adjust the spacing between square and text */
  }
  
  /* Style for the legend text */
  .legend-text {
	font-size: 14px; /* Adjust the font size */
	font-weight: bold; /* Optional: Adjust the font weight */
  }
  
  